# Create a .env file in the project folder with this structure 
# Change these MySQL database values to your own (DB_PORT, DB_USER, DB_PASSWORD, DB_NAME)
#The database code can be found in the init.sql at the root folder of  the project.
DB_HOST=localhost
DB_PORT=mysql_port
DB_USER=your_db_user
DB_PASSWORD=your_db_password      
DB_NAME=database_name

# Generate a strong and unique key (for example: openssl rando -base64 32)
JWT_SECRET=your_jwt_secret 

# Email used to recover passwords
EMAIL_USER=your_gmail_account
# The EMAIL_PASS is obtained by google itself.
# Navigate to the security tab and have the two factor authentication activated.
# After that navigate to the following link https://myaccount.google.com/apppasswords to get the app 
# password and that would be the value of EMAIL_PASS
EMAIL_PASS=your_google_app_password 

NEXT_PUBLIC_BASE_URL=http://localhost:3000/
